@use "./globals/" as *;
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap");

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Noto Sans JP", sans-serif;
    color: #323538;
}

// COMMON
.container {
    width: min(90%, 1140px);
    margin: 0 auto;
}

.section {
    padding: 60px 0;

    @include mq("md") {
        padding: 30px 0;
    }
}

.en {
    font-size: fluid-text(30px, 40px);
    font-weight: 500;
    color: #156ac9;
    margin-bottom: 30px;

    @include mq("md") {
        text-align: center;
    }
}

.section-title {
    font-size: fluid-text(18px, 30px);
    font-weight: 500;
    line-height: 1.6;
    margin-bottom: 40px;
}

.text {
    font-size: 14px;
    line-height: 2;
}

.btn {
    display: inline-block;
    border: 1px solid #eee;
    background: #fff;
    padding: 16px 40px;
    border-radius: 100px;
    font-size: 13px;
    font-weight: 500;
    transition: 0.3s;

    &:hover {
        border: 1px solid #156ac9;
    }
}

.burger {
    --opacity: 1;
    --translate: 0.5rem;
    --rotate: 0;
    position: relative;
    display: none;
    width: 40px;
    aspect-ratio: 1;
    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 999;
    // transition: 0.3s ease;

    @include mq("md") {
        display: grid;
        place-items: center;
    }

    &.is-active {
        --opacity: 0;
        --translate: 0;
        --rotate: 135deg;
    }

    & span {
        display: block;
        width: 70%;
        height: 2px;
        background: #fff;
        grid-area: 1 / 1 / -1 / -1; //3つのspanタグを重ねて表示させる
        transition: rotate 0.4s ease, translate 0.4s ease, opacity 0.1s ease;

        &:nth-child(1) {
            opacity: var(--opacity);
        }

        &:nth-child(2) {
            translate: 0 calc(var(--translate) * -1);
            rotate: var(--rotate);
        }

        &:nth-child(3) {
            translate: 0 var(--translate);
            rotate: calc(var(--rotate) * -1);
        }
    }
}

.mobile-menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 60vh;
    background: rgba(135, 132, 132, 0.9);
    transition: 0.7s ease;

    &.is-active {
        top: 0;
    }

    &__list {
        position: absolute;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
        text-align: center;

        & a {
            font-size: 18px;
            display: inline-block;
            padding: 10px;
        }
    }
}

.row {
    display: flex;
    justify-content: space-between;

    @include mq("md") {
        flex-wrap: wrap;
    }
}

// HEADER
.header {
    position: fixed;
    width: 100%;
    color: #fff;
    transition: 0.2s ease-in-out;
    z-index: 1;

    &.triggered {
        background: rgba(135, 132, 132, 0.7);
        // box-shadow: 10px 0 25px -10px rgba(0, 0, 0, 0.5);
        box-shadow: 0 2px 4px rgba(2, 15, 29, 0.904);
    }

    &__container {
        width: min(90%, 1400px);
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px 0;

        & nav {
            @include mq("md") {
                display: none;
            }
        }
    }

    &__logo {
        font-size: 24px;
        font-weight: 500;
    }

    &__list {
        display: flex;
        gap: 48px;

        & li {
            font-weight: 500;

            & a {
                border-bottom: 1px solid transparent;
                transition: 0.3s;

                &:hover {
                    border-bottom: 1px solid #156ac9;
                    color: #156ac9;
                }
            }
        }
    }
}

// MAIN-VISUAL
.main-visual {
    position: relative;
    height: 90vh;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;

    @include mq("md") {
        height: 75vh;
    }

    & video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        background-attachment: fixed;

        z-index: -1;
    }

    & .box {
        position: absolute;
        top: 50%;
        left: 13%;
        transform: translateY(-50%);
        color: #fff;

        @include mq("md") {
            left: 6%;
        }

        & .heading {
            font-size: fluid-text(16px, 30px);
            font-weight: 500;
            margin-bottom: 20px;
        }

        & h1 {
            font-size: fluid-text(34px, 48px);
            font-weight: 700;
        }
    }
}

// ABOUT
.about {
    position: relative;
    overflow: hidden;

    &::before {
        content: "MARKETING";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: fluid-text(80px, 260px);
        letter-spacing: -6px;
        color: #f9f9f9;
        font-weight: 900;
        z-index: -1;
    }

    & .text {
        margin-bottom: 40px;
    }
}

// SERVICE
.service {
    background: #156ac9;
    border-radius: 20px;
    color: #fff;

    & .en {
        color: #fff;
    }

    & .text {
        margin-bottom: 60px;
    }

    & .row {
        margin-bottom: 30px;

        @include mq("md") {
            gap: 20px 0;
        }

        & .col {
            width: 32%;
            background: #0d62c2;
            border-radius: 16px;
            padding: 30px 20px;
            text-align: center;

            @include mq("md") {
                width: 100% !important;
            }

            & img {
                height: 80px;
                margin-bottom: 20px;
            }

            & h3 {
                font-weight: 500;
                margin-bottom: 16px;
            }

            & .text2 {
                font-size: 13px;
                text-align: left;
                line-height: 1.6;
            }
        }
    }

    & .button-box {
        text-align: center;
        color: #323538;
    }
}

// WORKS
.works {
    background: #f9f9f9;
    & .row {
        align-items: center;

        @include mq("md") {
            gap: 30px;
        }

        & .col {
            width: 48%;

            & .text {
                font-size: 13px;
                margin-bottom: 40px;
            }

            & img {
                width: 100%;
                max-width: 100%;
                border-radius: 16px;
            }

            @include mq("md") {
                width: 100%;
            }
        }
    }
}

// CONTACT
.contact {
    & .row {
        align-items: center;

        @include mq("md") {
            flex-direction: column-reverse;
            gap: 30px;
        }

        & .col {
            width: 48%;

            & .text {
                font-size: 13px;
                margin-bottom: 40px;
            }

            & img {
                width: 100%;
                max-width: 100%;
                border-radius: 16px;
            }

            @include mq("md") {
                width: 100%;
            }
        }
    }
}

// FOOTER
.footer {
    background: #f9f9f9;
    text-align: center;
    font-size: 10px;
    padding: 16px 0;
}
